@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Geist Mono";
    src: url("./assets/fonts/GeistMono.ttf");
}

html {
    height: 100%;
    overflow: hidden;
    font-size: 14px;
    background-color: white;
}

* {
    font-family: "Geist Mono";
}

.scroll-hide {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll-hide::-webkit-scrollbar {
    width: 0;
    height: 0;
}