@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SpaceMono";
    src: url("./assets/fonts/SpaceMono/SpaceMono-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "SpaceMono";
    src: url("./assets/fonts/SpaceMono/SpaceMono-Italic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "SpaceMono";
    src: url("./assets/fonts/SpaceMono/SpaceMono-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "SpaceMono";
    src: url("./assets/fonts/SpaceMono/SpaceMono-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

html {
    height: 100%;
    overflow: hidden;
    font-size: 14px;
}

* {
    font-family: "SpaceMono";
}

.scroll-hide {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.scroll-hide::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}